.createProfile
  
  .form-wrapper
    .clip.left-clip
    .clip.right-clip

    %h3 Please Register
    %hr

    = form_for profile, :url => profiles_path, :method => :post do |f|


      = f.text_field 'first_name', :placeholder => 'First Name'

      = f.text_field 'last_name', :placeholder => 'Last Name'


      %br
      = f.text_field 'email', :placeholder => 'Email'

      = f.radio_button 'gender', 'm'
      = label :profiles, :gender, 'Male'
      = f.radio_button 'gender', 'f'
      = label :profiles, :gender, 'Female'

      %br
      = label :profiles, :date_of_birth, 'Birthday'
      .birthDay
        = f.date_select :date_of_birth

      %br
      %h3 Annual Income
      = label :profiles, :income, '< $1'
      = f.radio_button 'income', '1'

      = label :profiles, :income, 'About $1'
      = f.radio_button 'income', '2'

      = label :profiles, :income, '> $1'
      = f.radio_button 'income', '3'

      %br
      = f.submit 'Submit'
