.createProfile
  %h2 Create a profile
  
  = form_for profile, :url => profiles_path, :method => :post do |f|


    = label :profiles, :first_name, :class => 'required'
    = f.text_field 'first_name', :placeholder => 'First Name'

    
    = label :profiles, :last_name, :class => 'required'
    = f.text_field 'last_name', :placeholder => 'Last Name'

    
    = label :profiles, :email
    = f.text_field 'email', :placeholder => 'Email'

    .gender
      = label :profiles, :gender, 'Male'
      = f.radio_button 'gender', 'm'
      = label :profiles, :gender, 'Female'
      = f.radio_button 'gender', 'f'

    
    = label :profiles, :date_of_birth, 'Birthday'
    .birthDay
      = f.date_select :date_of_birth


    
    %h3 Annual Income
    = label :profiles, :income, '< $1'
    = f.radio_button 'income', '1'

    = label :profiles, :income, 'About $1'
    = f.radio_button 'income', '2'

    = label :profiles, :income, '> $1'
    = f.radio_button 'income', '3'

    
    = f.submit 'Submit'

  %br
  %br
  = link_to 'what this should look like..', '/form.jpg', :target => '_blank'