.createProfile
  %h2 Please Register
  
  = form_for profile, :url => profiles_path, :method => :post do |f|

    .topinput
      = f.text_field 'first_name', :placeholder => "First Name"
      = f.text_field 'last_name', :placeholder => "Last Name"

    %br
    .emailinput
      = f.text_field 'email', :placeholder => "Email"

    %br
    .genderinput
      = label :profiles, :gender, 'Male'
      = f.radio_button 'gender', 'm'
      = label :profiles, :gender, 'Female'
      = f.radio_button 'gender', 'f'
  
    .clear
    
    %br
    = label :profiles, :date_of_birth, 'Birthday'
    .birthDay
      = f.date_select :date_of_birth

    %br
    %h3 Annual Income
    = label :profiles, :income, '< $1'
    = f.radio_button 'income', '1'

    = label :profiles, :income, 'About $1'
    = f.radio_button 'income', '2'

    = label :profiles, :income, '> $1'
    = f.radio_button 'income', '3'

    %br
    = f.submit 'Submit'

  %br
  %br
  = link_to 'what this should look like..', '/form.jpg', :target => '_blank'