.wrapper.createProfile
  %h2 Create a profile
  
  = form_for profile, :url => profiles_path, :method => :post do |f|

    %h3 General info
    .field.first
      = label :profiles, :first_name, :class => 'required'
      = f.text_field 'first_name', {:placeholder=>'First name'}

    .field.last
      = label :profiles, :last_name, :class => 'required'
      = f.text_field 'last_name', {:placeholder=>'Last name'}

    .field.email.clearfix
      = label :profiles, :email
      = f.text_field 'email', {:placeholder=>'Email'}

    %h3 Gender
    .field.gender
      = f.radio_button 'gender', 'm', {:class=>'gender-male'}
      = label :profiles, :gender, 'Male'
      = f.radio_button 'gender', 'f', {:class=>'gender-female'}
      = label :profiles, :gender, 'Female'

    .field.birthdate.clearfix
      = label :profiles, :date_of_birth
      = f.date_select :date_of_birth

    %h3 Annual Income
    .field.income
      = label :profiles, :income, '< $1'
      = f.radio_button 'income', '1'

      = label :profiles, :income, 'About $1'
      = f.radio_button 'income', '2'

      = label :profiles, :income, '> $1'
      = f.radio_button 'income', '3'

    .submit.clearfix
      = f.submit 'Submit'

  %br
  %br
  = link_to 'what this should look like..', '/form.jpg', :target => '_blank'